aiofiles
fastapi
gradio_client
gradio
pydantic

accelerate
colorama
datasets
einops
exllamav2
markdown
numpy
optimum
pandas
peft
Pillow
pyyaml
requests
safetensors
scipy
sentencepiece
tensorboard
tqdm
wandb


bitsandbytes
